.drugList {
    margin: 50px !important;
    display: flex !important;
    justify-content: space-around !important;
    gap :150px !important;
}

.cardTitle {
    margin-left: 0px !important;
    /* font-size: 1.2rem; */
}

/* image */
.drugImage {
    background-image: url("../../../public/assets/imgs/drugstore/drug.jpg");
    background-size: cover !important;
    height: 200px !important;
    width: 100% !important;
    margin-bottom: 15% !important;
}

/* Filter CSS */
.col-filter {
    margin-top: 0.5% !important;
}

/* Drug Item CSS */
.col-item {
    text-align: center !important;
    text: #000000 !important;
}

.productWrapper > .container {
    margin: 0px 50px !important;
}

.productItem {
    text-align: center !important;
    margin-top: 10% !important;
    border-radius: 5% !important; 
        /* margin-left: 20%;  */
}

.productItem > .card-body {
    padding: 0px !important;
    font-family: 'Acephimere';
}

.infoBtn {
    margin-top: 2% !important;
    background-color: #B494FF !important;
    width: 197px !important;
    height: 68px !important;
    border-radius: 40px !important;
}

.buyBtn {
    /* margin-top: 8%; */
    background-color: #FFBB6D !important;
    width: 197px !important;
    height: 68px !important;
    border-radius: 40px !important;
}


